In [2]:
import pandas as pd 
import requests 
from sqlalchemy import create_engine
import psycopg2
import config

In [11]:
endpoint = "https://data.sfgov.org/resource/imvp-dq3v.json?$limit=10"
r = requests.get(url=endpoint)

In [17]:
df = pd.DataFrame(r.json())

In [18]:
df.head()

,transmission_datetime,post_id,street_block,payment_type,session_start_dt,session_end_dt,meter_event_type,gross_paid_amt
0,196157694_4_06092020011254,444-11250,GRANT AVE 1100,CASH,2020-06-09T01:12:54.000,2020-06-09T01:12:54.000,NS,0.75
1,196157908_4_06092020041214,600-04380,PACIFIC AVE 400,CASH,2020-06-09T04:12:14.000,2020-06-09T04:12:14.000,NS,0.25
2,196157920_4_06092020043248,582-01410,NEW MONTGOMERY ST 100,CREDIT CARD,2020-06-09T04:32:48.000,2020-06-09T13:30:04.000,NS,3.25
3,196157921_4_06092020043733,470-01040,HOWARD ST 100,CREDIT CARD,2020-06-09T04:37:33.000,2020-06-09T15:00:03.000,NS,4
4,196157922_4_06092020043820,359-03180,CLAY ST 300,CREDIT CARD,2020-06-09T04:38:20.000,2020-06-09T15:00:15.000,NS,4