In [2]:
#import dependencies 
import pandas as pd 
import requests 
from sqlalchemy import create_engine
import psycopg2
import config

In [3]:
#get sample of data -1000 rows
endpoint = "https://data.sfgov.org/resource/imvp-dq3v.json?$limit=1000"
r = requests.get(url=endpoint)

In [4]:
#convert to datframe 
data_df = pd.DataFrame(r.json())

In [22]:
# review enforce data types 
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   transmission_datetime  1000 non-null   object
 1   post_id                1000 non-null   object
 2   street_block           1000 non-null   object
 3   payment_type           1000 non-null   object
 4   session_start_dt       1000 non-null   object
 5   session_end_dt         1000 non-null   object
 6   meter_event_type       1000 non-null   object
 7   gross_paid_amt         1000 non-null   object
dtypes: object(8)
memory usage: 62.6+ KB

In [5]:
data_df.head()

,transmission_datetime,post_id,street_block,payment_type,session_start_dt,session_end_dt,meter_event_type,gross_paid_amt
0,196157694_4_06092020011254,444-11250,GRANT AVE 1100,CASH,2020-06-09T01:12:54.000,2020-06-09T01:12:54.000,NS,0.75
1,196157908_4_06092020041214,600-04380,PACIFIC AVE 400,CASH,2020-06-09T04:12:14.000,2020-06-09T04:12:14.000,NS,0.25
2,196157920_4_06092020043248,582-01410,NEW MONTGOMERY ST 100,CREDIT CARD,2020-06-09T04:32:48.000,2020-06-09T13:30:04.000,NS,3.25
3,196157921_4_06092020043733,470-01040,HOWARD ST 100,CREDIT CARD,2020-06-09T04:37:33.000,2020-06-09T15:00:03.000,NS,4
4,196157922_4_06092020043820,359-03180,CLAY ST 300,CREDIT CARD,2020-06-09T04:38:20.000,2020-06-09T15:00:15.000,NS,4

In [19]:
#get unique values of dimension from current data pullto further reduce checking each value 
data_df.street_block.unique()

array(['GRANT AVE 1100', 'PACIFIC AVE 400', 'NEW MONTGOMERY ST 100',
       'HOWARD ST 100', 'CLAY ST 300', '07TH ST 100',
       'SAINT JOSEPHS AVE 300', 'HOWARD ST 500', 'MISSION ST 0',
       'MAIN ST 100', 'FRONT ST 100', 'MISSION ST 100',
       'CALIFORNIA ST 100', 'FOLSOM ST 600', 'CLAY ST 100', 'CLAY ST 400',
       'HARRISON ST 100', 'SUTTER ST 100', '08TH ST 600', 'PINE ST 500',
       'IRVING ST 2400', 'CLAY ST 200', 'PINE ST 100', 'MARKET ST 2100',
       'DAVIS ST 100', 'BATTERY ST 0', 'FRONT ST 200', 'BEALE ST 0',
       'MISSION BAY BLVD NORTH 300', 'BERRY ST 200',
       'TERRY A FRANCOIS BLVD 500', 'BATTERY ST 300', 'CALIFORNIA ST 600',
       'CALIFORNIA ST 400', 'SF General Hospital Lot', 'BEALE ST 500',
       'PACIFIC AVE 500', 'JACKSON ST 800', 'DAVIS ST 0', '04TH ST 1400',
       '11TH ST 100', 'BATTERY ST 400', 'HAYES ST 300',
       'CHINA BASIN ST 500', 'DAVIS ST 300', 'MAIN ST 0', 'PINE ST 400',
       '15TH ST 1600', 'JACKSON ST 0', 'HOWARD ST 0', 'ILLINOIS ST 400',
       'EMBARCADERO SOUTH 200', 'ELLIS ST 900', 'SUTTER ST 0',
       'HOWARD ST 600', 'GROVE ST 200', 'WASHINGTON ST 0',
       'EMBARCADERO NORTH 0', 'STEUART ST 100', 'NORTH POINT ST 200',
       'EMBARCADERO SOUTH 700', 'SPEAR ST 200', 'MISSION ST 1800',
       'MISSION BAY BLVD NORTH 700', 'STEINER ST 1500',
       'MONTGOMERY ST 100', 'MASON ST 100', 'PARNASSUS AVE 600',
       '11TH ST 300', 'FRANKLIN ST 300', 'HARRISON ST 0', 'EDDY ST 800',
       'FRANKLIN ST 400', 'POLK ST 2300', '16TH ST 2900',
       'MONTGOMERY ST 700', '06TH ST 0', 'SACRAMENTO ST 2400',
       'BATTERY ST 200', 'CLAY ST 2400', 'SPEAR ST 400',
       'HARRISON ST 600', 'DRUMM ST 300', 'EMBARCADERO SOUTH 300',
       '08TH ST 500', 'VALLEJO ST 1600', 'FOLSOM ST 0', '01ST ST 200',
       'EMBARCADERO SOUTH 0', 'VALENCIA ST 1100',
       'SOUTH VAN NESS AVE 100', 'CHINA BASIN ST 400', 'SPEAR ST 0',
       '02ND ST 700', 'UNION ST 1600', 'COMMERCIAL ST 700',
       'SANSOME ST 700', 'PINE ST 200', 'FOLSOM ST 800',
       'COLIN P KELLY JR ST 0', 'POST ST 1200', '08TH ST 100',
       'SPEAR ST 100', 'PINE ST 300', 'POLK ST 2100', 'HOWARD ST 800',
       'WASHINGTON ST 100', 'VALLEJO ST 0', 'MONTGOMERY ST 400',
       'MCALLISTER ST 600', 'GEARY ST 500', 'CYRIL MAGNIN ST 100',
       'GRANT AVE 1400', 'MISSION ST 4400', 'BERRY ST 400', '12TH ST 0',
       'FRANKLIN ST 200', '04TH ST 1100', 'GEARY ST 0', 'GRANT AVE 800',
       'HARRISON ST 700', 'TERRY A FRANCOIS BLVD 400',
       'CHINA BASIN ST 300', 'VALLEJO ST 1400', 'MISSION ST 1600',
       '07TH ST 200', 'OTIS ST 0', 'BRYANT ST 100', 'FRANKLIN ST 1300',
       'MISSION ST 4300', 'GEARY BLVD 1100', 'BATTERY ST 100',
       'TOWNSEND ST 100', 'PARNASSUS AVE 700', 'GRANT AVE 600',
       'HAIGHT ST 500', 'POWELL ST 1300', '07TH AVE 1300', 'BEALE ST 100',
       'BRADY ST 0', 'GROVE ST 0', 'TOWNSEND ST 0', 'LARKIN ST 0',
       'SACRAMENTO ST 300', 'GRANT AVE 500', 'BRANNAN ST 800',
       'BOSWORTH ST 500', '09TH ST 200', 'STEVENSON ST 1200',
       'MONTGOMERY ST 800', 'HAWTHORNE ST 0', 'GRANT AVE 0',
       'BATTERY ST 500', 'MISSION ST 600', 'PACIFIC AVE 300',
       'DAVIS ST 500', 'CHESTNUT ST 2300', 'GOLDEN GATE AVE 400',
       'EMBARCADERO SOUTH 400', 'POST ST 0', 'FRANKLIN ST 1100',
       '17TH ST 3200', 'TURK ST 600', 'SUTTER ST 2300', 'OTIS ST 100',
       '16TH ST 3000', 'POLK ST 500', 'MISSION ST 1000',
       'DIVISADERO ST 400', 'LEAVENWORTH ST 0', 'IRVING ST 600',
       '24TH ST 3300', 'CLAY ST 700', 'GREEN ST 100', 'VALLEJO ST 100',
       'DRUMM ST 0', '11TH ST 200', 'MONTGOMERY ST 1700',
       'SACRAMENTO ST 700', 'WASHINGTON ST 600', 'FOLSOM ST 700',
       'HARRISON ST 1400', 'PARNASSUS AVE 400', 'BRYANT ST 400',
       'CALIFORNIA ST 700', 'LEAVENWORTH ST 2800', '08TH ST 200',
       'PARNASSUS AVE 300', 'SACRAMENTO ST 800', 'FILLMORE ST 2300',
       'BRYANT ST 300', 'NORTH POINT ST 900', 'GRANT AVE 700',
       'GRANT AVE 1000', 'BUSH ST 1200', 'MAIN ST 300',
       'EMBARCADERO NORTH 1200', 'RITCH ST 300', 'MISSION ST 1900',
       'FRANKLIN ST 800', 'HOWARD ST 1200', 'PACIFIC AVE 200',
       'EMBARCADERO NORTH 300', 'DIVISION ST 0', 'FLORIDA ST 1100',
       'JACKSON ST 500', 'JUDAH ST 300', 'GRANT AVE 100',
       'BATTERY ST 700', 'PACIFIC AVE 1500', 'LARKIN ST 700',
       'GOLDEN GATE AVE 600', 'JACKSON ST 200', 'HARRISON ST 800',
       'POST ST 1300', 'MISSION ROCK ST 500', 'MCALLISTER ST 400',
       'GOLDEN GATE AVE 700', 'MONTGOMERY ST 0', 'MARKET ST 2200',
       'GOUGH ST 0', 'SUTTER ST 2400', '24TH ST 2700', 'MISSION ST 900',
       '24TH ST 2800', 'HOWARD ST 900', 'GOUGH ST 1300', 'GRANT AVE 900',
       'BEACH ST 300', '15TH ST 1500', 'WASHINGTON ST 800', '02ND ST 200',
       'OFARRELL ST 900', 'FREMONT ST 100', 'POWELL ST 1100',
       'SANSOME ST 100', 'FRONT ST 600', 'HOFF ST 0',
       'ALICE B TOKLAS PL 100', 'SUTTER ST 200', 'GREEN ST 0',
       'FRONT ST 900', 'VALENCIA ST 900', 'VALENCIA ST 700',
       'FREMONT ST 300', 'CHINA BASIN ST 600', 'BRANNAN ST 100',
       'COLUMBUS AVE 100', 'SUTTER ST 500', 'CLAY ST 1600',
       'LARKIN ST 200', 'BRANNAN ST 900', 'TOWNSEND ST 200',
       'POWELL ST 1500', 'BATTERY ST 1100', 'NEW MONTGOMERY ST 0',
       'SANSOME ST 300', 'TURK ST 900', 'EMBARCADERO NORTH 700',
       'UNION ST 0', 'GOLDEN GATE AVE 200', '09TH ST 0', 'POST ST 100',
       'POST ST 2200', 'SUTTER ST 300', 'SACRAMENTO ST 3300',
       'KIRKHAM ST 0', 'KING ST 300', 'TAYLOR ST 600', 'NATOMA ST 100',
       '03RD ST 700', '06TH ST 200', 'WASHINGTON ST 700', 'STEUART ST 0',
       'CALIFORNIA ST 3200', 'STILLMAN ST 100', 'CASTRO ST 1200',
       'FOLSOM ST 900', 'BUSH ST 500', 'CALIFORNIA ST 300',
       'FRONT ST 700', 'UNION ST 2200', 'SANSOME ST 1300',
       'SANSOME ST 200', 'SACRAMENTO ST 500', 'PINE ST 600',
       'BEACH ST 600', 'SHOTWELL ST 900', 'HOWARD ST 1500',
       'SACRAMENTO ST 2500', 'SACRAMENTO ST 3400', 'SANSOME ST 900',
       'UNION ST 1800', 'CLAY ST 500', 'PINE ST 1600', 'PACIFIC AVE 600',
       '17TH ST 3300', 'MCALLISTER ST 500', 'DIVISADERO ST 1500',
       'LEAVENWORTH ST 500', 'HOWARD ST 1600', '25TH ST 3300',
       'MASON ST 300', '04TH AVE 200', 'VALENCIA ST 500',
       'BATTERY ST 1200', 'BROADWAY 0', '24TH ST 3900', 'BATTERY ST 600',
       'POLK ST 1900', 'GRANT AVE 200', 'CHESTNUT ST 0', 'JONES ST 2700',
       'POLK ST 700', 'POWELL ST 1400', '10TH ST 100',
       'DIVISADERO ST 1600', '10TH ST 0', 'CLAY ST 1700',
       'BRANNAN ST 700', 'FRANCISCO ST 0', 'SCOTT ST 1600',
       'MISSION ST 1400', 'ELLIS ST 800', '23RD ST 3200', 'HYDE ST 400',
       '03RD ST 600', 'VALENCIA ST 1400', 'KING ST 100', 'CLAY ST 900',
       'SPEAR ST 300', 'SACRAMENTO ST 600', 'LAGUNA ST 1600',
       'FRANKLIN ST 700', '01ST ST 0', 'GOUGH ST 300', 'SCOTT ST 1500',
       'VALLEJO ST 600', 'HYDE ST 900', 'CYRIL MAGNIN ST 0',
       '18TH AVE 2400', 'SOUTH VAN NESS AVE 0', 'STOCKTON ST 1500',
       'GREEN ST 600', 'GEARY BLVD 3000', 'FILLMORE ST 2400',
       'CLEMENT ST 1000', 'VALENCIA ST 800', 'EMBARCADERO SOUTH 500',
       'COLUMBUS AVE 500', 'GRANT AVE 2200', 'JACKSON ST 100',
       '21ST ST 3200', 'EMBARCADERO NORTH 500', 'FRANK NORRIS ST 0',
       'CALIFORNIA ST 1400', 'ELLIS ST 400', 'TAYLOR ST 700',
       'JACKSON ST 1700', 'IRVING ST 900', 'BROADWAY 300', 'DAVIS ST 600',
       '24TH ST 4000', 'WEST PORTAL AVE 0', 'SUTTER ST 400',
       'UNION ST 2100', 'IRVING ST 2200', 'SUTTER ST 1300',
       'BROADWAY 100', 'FILLMORE ST 2200', 'CHANNEL ST 200',
       'VALENCIA ST 1600', 'GEARY BLVD 3500', '23RD ST 3300',
       'HARRISON ST 400'], dtype=object)

In [ ]:
unique